@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins:wght@500&display=swap" rel="stylesheet');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 

}
body{
  background-color: #0A051B;
}
.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    background: #100726;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
   
  }
  
  .header .logo{
    font-weight: bolder;
    color:#fff;
  }
  
  .header .logo img{
    width:60px;
    height: auto;
    background-color: #F5D305;
  } 
  
  .header .navbar a{
    font-size: 15px;
    color:#fff;
    margin-left: 2rem;
    text-decoration: none;
  }
  
  .header .navbar a:hover{
    color:#F5D305;
  }
  
  input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    font-family: 'Pacifico', cursive;
  }

  .search-container button {
    float: right;
    padding: 8px 10px;
    margin-top: 8px;
    margin-right: 0px;
    background: #F5D305;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    
  }
  
  .search-container button:hover {
    background: #fff;
  }
  
  
